.requestorImg{
    object-fit: cover;
    border-radius: 50%;
}

.requestorName{
    font-size: 12px;
}

.acceptButton{
    width:60px;
    height: 24px;
}

@media (max-width: 576px){
    .requestorImg{
        height: 36px;
        width: 36px;
    }

    .requestorName{
        font-size: 12px;
    }

    .acceptButton{
       width:60px;
       height: 24px;
    }

    .acceptButton{
        width: 60px;
        height: 20px;
        font-size: 12px;
    }
}

@media (max-widh: 768px){
    .requestorImg{
        height: 42px;
        width: 42px;
    }
    .requestorName{
        font-size: 12px;
    }

    .acceptButton{
        width: 72px;
        height: 24px;
        font-size: 12px;
    }
}

@media (max-width: 992px){
    .requestorImg{
        height: 48px;
        width: 48px;
    }
    .requestorName{
        font-size: 14px;
    }

    .acceptButton{
        width: 96px;
        height: 32px;
        font-size: 12px;
    }
}

@media (min-width: 992px){
    .requestorImg{
        height: 60px;
        width: 60px;
    }
    .requestorName{
        font-size: 14px;
    }

    .acceptButton{
        width: 96px;
        height: 32px;
        font-size: 12px;
    }
}